.interview_landing_parent_container {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin-bottom: 3%;
    padding-top: 8%;
    background: linear-gradient(14deg,#fff 49.9%,#4b8ce8 50.1%)
}

.interview_landing_parent_container,.topicMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.topicMenu {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50%;
    height: auto;
    height: 35em;
    margin-left: 5%;
    border-radius: 25px;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 10px 0 #d3d3d3;
    box-shadow: 0 4px 10px 0 #d3d3d3
}

.test_empty {
    height: 40vh;
    width: 100vw;
    text-align: center;
    margin-top: 40vh;
    margin-bottom: auto;
    color: #4a4a4a
}

.heading {
    width: 100%;
    height: 2em;
    padding-top: 2.5%;
    text-align: center;
    color: #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #82afef;
    -webkit-box-shadow: 0 4px 10px 0 #d3d3d3;
    box-shadow: 0 4px 10px 0 #d3d3d3;
    font-family: Poppins,sans-serif;
    font-size: x-large
}

.topicMenu h1 {
    display: inline;
    font-size: x-large;
    font-weight: 400
}

.subTopic {
    display: inline-block;
    margin: 5% 5% 0 0
}

.circleSubTopic {
    height: 80px;
    border-bottom: 0;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
    background-color: #ffcc01;
    -webkit-box-shadow: 0 2px 10px 0 grey;
    box-shadow: 0 2px 10px 0 grey;
    line-height: 80px
}

.circleSubTopic,.rectangleSubTopic {
    width: 150px;
    margin-left: 10px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    color: #000;
    font-family: Poppins,sans-serif;
    font-size: 20px
}

.rectangleSubTopic {
    height: 100px;
    font-weight: 700;
    line-height: 100px
}

.rectangleSubTopic,.rightMenu {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 10px 0 #d3d3d3;
    box-shadow: 0 2px 10px 0 #d3d3d3
}

.rightMenu {
    float: right;
    overflow-y: scroll;
    width: 30%;
    height: 35em;
    margin-right: 5%;
    border-radius: 25px
}

.rightMenu::-webkit-scrollbar {
    width: 0!important
}

.rightMenu {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none
}

.rightMenu h1 {
    display: inline;
    font-size: x-large;
    font-weight: 400
}

.otherLinks {
    display: block;
    width: 65%;
    height: 15px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    color: #707070;
    border-left: 15px solid #82afef;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 10px 0 #d3d3d3;
    box-shadow: 0 4px 10px 0 #d3d3d3;
    font-size: medium;
    line-height: 15px
}

.otherLinks,.rightCta {
    text-align: center;
    font-family: Poppins,sans-serif
}

.rightCta {
    float: right;
    width: 100%;
    max-width: 420px;
    height: 50px;
    margin-top: 25px;
    margin-right: 55px;
    color: #fff;
    border: 2px solid #245cbd;
    border-radius: 15px;
    background-color: #245cbd;
    -webkit-box-shadow: 0 2px 10px 0 #d3d3d3;
    box-shadow: 0 2px 10px 0 #d3d3d3;
    font-size: 20px;
    line-height: 50px
}

@media (min-width: 481px) and (max-width:767px) {
    .interview_landing_parent_container {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        min-height: 100%;
        background: linear-gradient(14deg,#fff 49.7%,#4b8ce8 51%)
    }

    .interview_landing_parent_container,.topicMenu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .topicMenu {
        overflow-y: scroll;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 70%;
        height: auto;
        height: 35em;
        border-radius: 25px;
        background-color: #fff;
        -webkit-box-shadow: 0 4px 10px 0 #d3d3d3;
        box-shadow: 0 4px 10px 0 #d3d3d3
    }

    .circleSubTopic {
        height: 40px;
        border-bottom: 0;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        background-color: #ffcc01;
        -webkit-box-shadow: 0 2px 5px 0 grey;
        box-shadow: 0 2px 5px 0 grey;
        line-height: 40px
    }

    .circleSubTopic,.rectangleSubTopic {
        width: 75px;
        cursor: pointer;
        text-align: center;
        vertical-align: middle;
        color: #000;
        font-family: Poppins,sans-serif;
        font-size: medium
    }

    .rectangleSubTopic {
        height: 50px;
        background-color: #fff;
        -webkit-box-shadow: 0 2px 5px 0 #d3d3d3;
        box-shadow: 0 2px 5px 0 #d3d3d3;
        font-weight: 700;
        line-height: 50px
    }
}

@media (min-width: 768px) and (max-width:1024px) {
    .interview_landing_parent_container {
        -webkit-box-align:center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        height: 100%;
        min-height: 100%;
        padding-top: 15%;
        background: linear-gradient(14deg,#fff 49.7%,#4b8ce8 51%)
    }

    .interview_landing_parent_container,.topicMenu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .topicMenu {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 60%;
        height: auto;
        height: 20em;
        margin: 7% 0 0;
        border-radius: 25px;
        background-color: #fff;
        -webkit-box-shadow: 0 4px 10px 0 #d3d3d3;
        box-shadow: 0 4px 10px 0 #d3d3d3
    }

    .circleSubTopic {
        height: 40px;
        border-bottom: 0;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        background-color: #ffcc01;
        -webkit-box-shadow: 0 2px 5px 0 grey;
        box-shadow: 0 2px 5px 0 grey;
        line-height: 40px
    }

    .circleSubTopic,.rectangleSubTopic {
        width: 75px;
        cursor: pointer;
        text-align: center;
        vertical-align: middle;
        color: #000;
        font-family: Poppins,sans-serif;
        font-size: medium
    }

    .rectangleSubTopic {
        height: 50px;
        background-color: #fff;
        -webkit-box-shadow: 0 2px 5px 0 #d3d3d3;
        box-shadow: 0 2px 5px 0 #d3d3d3;
        font-weight: 700;
        line-height: 50px
    }

    .rightMenu {
        overflow-y: scroll;
        width: 55%;
        height: 30em;
        margin-top: 7%
    }
}

@media (min-width: 320px) and (max-width:480px) {
    .interview_landing_parent_container {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0
    }

    .heading {
        font-size: medium
    }

    .topicMenu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow-y: scroll;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 85%;
        height: auto;
        height: 20em;
        margin: 20% 0 0;
        padding: 0;
        border-radius: 25px;
        background-color: #fff;
        -webkit-box-shadow: 0 4px 10px 0 #d3d3d3;
        box-shadow: 0 4px 10px 0 #d3d3d3
    }

    .rightMenu h1,.topicMenu h1 {
        font-size: medium
    }

    .circleSubTopic {
        height: 40px;
        border-bottom: 0;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        background-color: #ffcc01;
        -webkit-box-shadow: 0 2px 5px 0 grey;
        box-shadow: 0 2px 5px 0 grey;
        line-height: 40px
    }

    .circleSubTopic,.rectangleSubTopic {
        width: 75px;
        cursor: pointer;
        text-align: center;
        vertical-align: middle;
        color: #000;
        font-family: Poppins,sans-serif;
        font-size: small
    }

    .rectangleSubTopic {
        height: 50px;
        background-color: #fff;
        -webkit-box-shadow: 0 2px 5px 0 #d3d3d3;
        box-shadow: 0 2px 5px 0 #d3d3d3;
        font-weight: 700;
        line-height: 50px
    }

    .rightMenu {
        overflow-y: scroll;
        width: 85%;
        height: 40em;
        margin: 15% 0 10%;
        border-radius: 25px;
        background-color: #fff;
        -webkit-box-shadow: 0 2px 10px 0 #d3d3d3;
        box-shadow: 0 2px 10px 0 #d3d3d3
    }
}

#my-interviewNotesLanding-div,#my-practiceTestLanding-div {
    display: block!important
}

.practice_content_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 3%;
    padding-top: 8%;
    background: linear-gradient(14deg,#fff 49.9%,#26e389 50.1%)
}

a {
    text-decoration: none
}

.interviewContent {
    width: 55%;
    margin-right: 3%;
    border-radius: 25px;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 10px 0 #d3d3d3;
    box-shadow: 0 4px 10px 0 #d3d3d3
}

.rightContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.interviewHeading {
    width: 100%;
    height: 40px;
    padding-top: 10px;
    color: #000;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #67e3a8;
    -webkit-box-shadow: 0 2px 10px 0 #d3d3d3;
    box-shadow: 0 2px 10px 0 #d3d3d3;
    font-family: Poppins,sans-serif;
    text-align: center
}

.interviewHeadingText {
    width: 70%;
    text-align: center;
    font-size: x-large;
    font-weight: 500
}

.question {
    display: inline-block;
    margin: 1.5%;
    padding: .5%;
    text-align: center;
    font-family: Poppins,sans-serif;
    font-size: medium;
    font-weight: 700
}

.questionContainer {
    overflow-y: scroll;
    height: auto;
    margin-right: auto;
    margin-bottom: 3%;
    margin-left: auto;
    padding-left: 5%;
    font-weight: 500
}

.question_button_text {
    width: 60px;
    height: 25px;
    cursor: pointer;
    text-align: center;
    vertical-align: center;
    color: #fff;
    background-color: #129a59;
    -webkit-box-shadow: 2 -2px #000;
    box-shadow: 2 -2px #000;
    font-family: Poppins,sans-serif
}

.question_button_next {
    width: 0;
    height: 0;
    margin-right: 0;
    cursor: pointer;
    border-top: 13px solid #67e3a8;
    border-bottom: 13px solid #67e3a8;
    border-left: 20px solid #129a59;
    font-size: small
}

.dummy_button {
    width: 80px;
    background-color: #67e3a8
}

.question_button_prev {
    width: 0;
    height: 0;
    cursor: pointer;
    border-top: 13px solid #67e3a8;
    border-right: 20px solid #129a59;
    border-bottom: 13px solid #67e3a8
}

.answer {
    height: 450px;
    padding-right: 5%;
    padding-left: 5%;
    border-top: 2px solid #f5f5f5;
    border-radius: 15px
}

.answer,.mcq_answer {
    display: block;
    overflow-y: scroll;
    background-color: #fff;
    font-family: Poppins,sans-serif
}

.mcq_answer {
    width: 80%;
    height: 300px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    padding: 30px 50px;
    border-radius: 25px;
    -webkit-box-shadow: 2px 2px 5px #add8e6,-2px -2px #add8e6;
    box-shadow: 2px 2px 5px #add8e6,-2px -2px #add8e6
}

.rightMenuCta {
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    max-width: 420px;
    height: 50px;
    margin-top: 25px;
    margin-right: 10%;
    color: #fff;
    border: 2px solid #129a59;
    border-radius: 15px;
    background-color: #129a59;
    -webkit-box-shadow: 0 2px 10px 0 #d3d3d3;
    box-shadow: 0 2px 10px 0 #d3d3d3;
    font-size: 20px;
    line-height: 50px
}

.qaOtherLinks,.rightMenuCta {
    cursor: pointer;
    text-align: center;
    font-family: Poppins,sans-serif
}

.qaOtherLinks {
    display: block;
    width: 65%;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
    color: #707070;
    border-left: 15px solid #67e3a8;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 10px 0 #d3d3d3;
    box-shadow: 0 4px 10px 0 #d3d3d3;
    font-size: medium;
    line-height: 30px
}

.qaRightMenu {
    overflow-y: scroll;
    width: 100%;
    height: 300px;
    border: 1px solid #d3d3d3;
    border-radius: 25px;
    background-color: #fff
}

.qaRightHeading,.qaRightMenu {
    -webkit-box-shadow: 0 2px 10px 0 #d3d3d3;
    box-shadow: 0 2px 10px 0 #d3d3d3
}

.qaRightHeading {
    width: 435px;
    height: 50px;
    margin-bottom: 30px;
    text-align: center;
    color: #000;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #67e3a8;
    font-family: Poppins,sans-serif;
    font-size: 20px;
    line-height: 50px
}

.answerWrong {
    background-color: #f08080
}

.answerRight,.answerWrong {
    width: 100%;
    margin: 10px;
    padding: 2%;
    color: #707070;
    border-radius: 10px;
    font-size: medium
}

.answerRight {
    background-color: #90ee90;
    font-family: Poppins,sans-serif
}

.otherAnswer {
    width: 100%;
    margin: 10px;
    padding: 2%;
    color: #707070;
    background-color: #fff;
    font-size: medium
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal
}

.example {
    background-color: #f1eded
}

.loader {
    width: 60px;
    height: 60px;
    margin-top: 15%;
    margin-bottom: 15%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    border: 10px solid #f3f3f3;
    border-top-color: #3498db;
    border-radius: 50%
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.content-text {
    color: #000
}

.example_code {
    padding: 10px;
    color: #000;
    background-color: #f1eded
}

.score_circle {
    display: block;
    width: 180px;
    height: 180px;
    margin: 6% auto;
    text-align: center;
    border: 25px solid #fc5791;
    border-radius: 50%;
    font-size: 40px;
    line-height: 160px
}

.level_button_text {
    width: 170px;
    height: 50px;
    margin-left: 2%;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: #fc5791;
    -webkit-box-shadow: 2px 2px 10px #000;
    box-shadow: 2px 2px 10px #000;
    font-family: Poppins,sans-serif;
    font-size: large;
    font-weight: 700;
    line-height: 50px
}

.level_button_next {
    z-index: 0;
    width: 0;
    height: 0;
    margin-right: 0;
    cursor: pointer;
    border-top: 25px solid #fff;
    border-bottom: 25px solid #fff;
    border-left: 35px solid #fc5791
}

[type=radio]:not(:checked) {
    background-color: #eee
}

[type=radio]:checked,[type=radio]:not(:checked) {
    width: 25px;
    height: 25px;
    margin-top: -1px;
    margin-right: 3%;
    cursor: pointer;
    vertical-align: middle
}

[type=radio]:after,[type=radio]:checked {
    color: green;
    background: #d2691e
}

[type=radio]:after {
    width: 25px;
    height: 25px;
    margin-top: -1px;
    margin-right: 3%;
    cursor: pointer;
    vertical-align: middle
}

@media (min-width: 768px) and (max-width:1024px) {
    .practice_content_container {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -ms-flex-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%;
        padding-top: 15%
    }

    .interviewContent {
        width: 90%;
        margin: 0;
        border-radius: 25px;
        background-color: #fff;
        -webkit-box-shadow: 0 4px 10px 0 #d3d3d3;
        box-shadow: 0 4px 10px 0 #d3d3d3
    }

    .rightContainer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 10%
    }
}

@media (min-width: 320px) and (max-width:480px) {
    .practice_content_container {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -ms-flex-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        min-height: 100%;
        padding-top: 15%;
        background: linear-gradient(14deg,#fff 49.7%,#26e389 51%)
    }

    .interviewContent {
        width: 90%;
        margin: 0;
        padding-bottom: 5%;
        border-radius: 25px;
        background-color: #fff;
        -webkit-box-shadow: 0 4px 10px 0 #d3d3d3;
        box-shadow: 0 4px 10px 0 #d3d3d3
    }

    .interviewHeadingText {
        width: 40%;
        font-size: large
    }

    .interviewHeadingText,.question {
        text-align: center;
        font-weight: 700
    }

    .question {
        display: inline-block;
        margin: 1.5%;
        padding: .5%;
        font-family: Poppins,sans-serif;
        font-size: medium
    }

    .rightContainer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        width: 90%;
        margin: 10% 0 0
    }

    .rightContainer,.rightMenuCta {
        -webkit-box-align: center;
        align-items: center;
        -ms-flex-align: center;
        -webkit-box-pack: center;
        justify-content: center
    }

    .rightMenuCta {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-pack: center;
        width: 80%;
        height: 2em;
        margin: 25px 0 0;
        cursor: pointer;
        color: #fff;
        border: 2px solid #129a59;
        border-radius: 15px;
        background-color: #129a59;
        -webkit-box-shadow: 0 2px 10px 0 #d3d3d3;
        box-shadow: 0 2px 10px 0 #d3d3d3;
        line-height: 2em
    }

    .qaOtherLinks,.rightMenuCta {
        text-align: center;
        font-family: Poppins,sans-serif;
        font-size: small
    }

    .qaOtherLinks {
        display: block;
        width: 65%;
        height: 30px;
        margin-right: auto;
        margin-left: auto;
        color: #707070;
        border-left: 10px solid #67e3a8;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        background-color: #fff;
        -webkit-box-shadow: 0 1px 5px 0 #d3d3d3;
        box-shadow: 0 1px 5px 0 #d3d3d3;
        line-height: 30px
    }

    .qaRightMenu {
        -webkit-box-align: center;
        align-items: center;
        -ms-flex-align: center;
        height: 300px;
        padding: 0;
        border: 1px solid #d3d3d3;
        border-radius: 25px;
        -webkit-box-shadow: 0 2px 10px 0 #d3d3d3;
        box-shadow: 0 2px 10px 0 #d3d3d3
    }

    .answer,.qaRightMenu {
        overflow-y: scroll;
        width: 90%;
        background-color: #fff
    }

    .answer {
        display: block;
        height: 75%;
        border-radius: 25px;
        font-size: x-small
    }

    .answer,.qaRightHeading {
        font-family: Poppins,sans-serif
    }

    .qaRightHeading {
        width: 100%;
        height: 50px;
        margin-bottom: 30px;
        text-align: center;
        color: #000;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        background-color: #67e3a8;
        -webkit-box-shadow: 0 2px 10px 0 #d3d3d3;
        box-shadow: 0 2px 10px 0 #d3d3d3;
        font-size: 20px;
        line-height: 50px
    }

    .mcq_answer {
        width: 80%;
        height: auto;
        padding-right: 20px;
        padding-left: 15px;
        border-radius: 25px
    }

    .otherAnswer {
        color: #707070;
        background-color: #fff
    }

    .answerRight,.answerWrong,.otherAnswer {
        width: 100%;
        font-size: small
    }

    .interviewHeadingText {
        font-size: small
    }
}

.placement_program_title {
    padding: 2% 5% 0;
    text-align: center;
    color: #000;
    font-size: x-large;
    font-weight: 700
}

.placement_program_sub_title {
    padding: 0 1.5% 1.5%;
    text-align: center;
    color: #000;
    font-size: large;
    font-weight: 700
}

.placement_program_img {
    display: block;
    width: 60%;
    height: 40%;
    margin-right: auto;
    margin-left: auto
}

.placement_program_button {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: #264775;
    font-size: large;
    font-weight: 700
}

@media (min-width: 320px) and (max-width:480px) {
    .placement_program_title {
        padding:1% 1.5% 0;
        text-align: center;
        color: #000;
        font-size: medium;
        font-weight: 700
    }

    .placement_program_sub_title {
        padding: 0 .5% .5%;
        text-align: center;
        color: #000;
        font-size: small;
        font-weight: 700
    }

    .placement_program_img {
        display: block;
        width: 60%;
        height: 40%;
        margin-right: auto;
        margin-left: auto
    }

    .placement_program_button {
        display: block;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        padding: 1%;
        cursor: pointer;
        text-align: center;
        color: #fff;
        border-radius: 10px;
        background-color: #00f;
        font-size: small;
        font-weight: 700
    }
}