.masterCompetitiveHome {
    margin-top: 102px;
}

.btn-enrol {
    background-color: #00a6eb;
}

.mch-heading {
    font-size: 1.8rem;
    font-weight: 900;
    color: rgb(46, 145, 235);
    line-height: 1.4em;
}

.mch-home {
    display: flex;
    width: 80%;
    margin: 10% auto;
    gap: 5%;
}

.mch-home div {
    width: 60%;
    line-height: 1.4em;
}

.mch-home div p {
    margin: 1em 0;
    line-height: 2rem;
}

.mch-info {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.mch-info-div {
    display: flex;
    padding: 2%;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.161);
}

.mch-info-div-pink {
    border-bottom: 4px solid #df3897;
    border-right: 4px solid #df3897;
}

.mch-info-div-yellow {
    border-bottom: 4px solid #eb9a00;
    border-right: 4px solid #eb9a00;
}

.mch-info-div-blue {
    border-bottom: 4px solid #0398d3;
    border-right: 4px solid #0398d3;
}

.mch-info-div-purple {
    border-bottom: 4px solid #7914a3;
    border-right: 4px solid #7914a3;
}

.mch-info-div img {
    height: 70%;
    padding: 0 1em;
    max-height: 4rem;
}

.mch-mentors-heading {
    margin-top: 5%;
    text-align: center;
    color: #151414;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.mch-mentors-info {
    text-align: center;
    color: #151414;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 900px;
}

.mch-mentor-gallary {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.mch-mentor-card {
    display: flex;
    gap: 10%;
    width: 300px;
    max-width: 300px;
    box-shadow: 0px 1px 6px rgba(162, 161, 161, 0.346);
    border-radius: 5px;
    padding: 0.75rem 1rem;
}

.mch-mentor-card img {
    width: 100%;
}

.mch-mentor-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.courseFeatureImgDiv {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 15px rgba(138, 138, 138, .1607843137);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mch-cp-wu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.courseFeatureBgImg {
    position: absolute;
    height: 100%;
    z-index: -1;
    background: #f8fbff;
    transform: translate(-30%);
}

.courseFeatureDetailsUl {
    list-style: none;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 50%);

}

.courseFeatureDetailsUl li {
    display: inline-block;
    width: 80%;
    margin-top: 1em;
}

.courseFeatureDetails {
    display: flex;
    width: 100%;
}

.courseFeatureDetailsDiv {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.courseFeatureDetailsDiv h5 {
    display: inline-block;
    width: 100%;
}

.courseFeatureDetailsDiv p {
    display: inline-block;
    font-size: 12px;
    width: 100%;
}

.courseDetailsOddDiv {
    direction: rtl;
}

.courseDetailsOddDiv p,
.courseDetailsOddDiv h5 {
    direction: ltr;
}

.courseDetailsEvenDiv {
    direction: ltr;
}

.courseDetailsEvenDiv p,
.courseDetailsEvenDiv h5 {
    direction: rtl;
    text-align: right;
}

.mch-instituteInfo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    height: 100%;
    width: 80%;
    margin: auto;
    margin-top: 7vh;
    padding: 2%;
}

.mch-instituteInfo h1 {
    text-align: center;
    color: #00a6eb;
    font: normal normal 900 3rem Inter;
}

.mch-instituteInfo p {
    text-align: center;
    font: normal normal 500 1.1rem/2rem Inter;
    color: #322e2e;
}

.mch-coding-context {
    margin: auto;
    margin-top: 2%;
    text-align: center;
    color: #151414;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.mch-coding-context-img {
    width: 75%;
    margin: auto;
}

.mch-coding-context-img img {
    width: 100%;
    height: 100%;
}

.courseSyllabus-div {
    height: 60px;
    padding: 0.5em;
    margin-bottom: 1rem;
    width: 95%;
    border-radius: 10px;
    box-shadow: 0px 1px 8px rgba(133, 133, 133, .1607843137);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.courseSyllabus-img {
    width: 40px;
    height: 40px;
}

.courseSyllabus-text {
    border-left: 1px solid #707070;
    margin-left: 1rem;
    padding-left: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
}

.mch-curriculum {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    margin: auto;
}

.mch-topic-list {
    position: relative;
    padding-left: 2rem;
    margin: 1rem 0rem;
    font-size: 12px;
    color: #151414;
}

.mch-topic-list::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 10px;
    width: 2px;
    height: 26px;
    z-index: -1;
    background-color: #00a6eb;
}

.mch-topic-list::after {
    content: "";
    font-size: 30px;
    position: absolute;
    top: 4.5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border: 2px solid #00a6eb;
    border-radius: 50%;
}

.courseDataList ul {
    list-style-type: none;
    width: 100%;
    height: 70%;
    overflow-x: hidden;
    overflow-y: auto;
}

.courseSyllabus-div-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.courseSyllabus-div-img img {
    width: 60%;
    height: 60%;
}

.courseDataList ul::-webkit-scrollbar-thumb {
    background-color: #00a6eb !important;
}

.courseDataList ul::-webkit-scrollbar {
    width: 5px;
}

.courseDataList ul::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.mch-batch {
    border-top: 0.5px solid #c2c2c2;
    border-bottom: 0.5px solid #c2c2c2;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 4rem;
    margin: auto;
}

.mch-batch h4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mch-enroll-btn {
    border: none;
    min-width: 130px;
    padding: 7px;
    color: #fffaf0;
    font-size: 16px;
    cursor: pointer;
    background: transparent linear-gradient(79deg, #3194ee, #1477d2) 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .160);
    border-radius: 3px;
}

.mch-enroll-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

.mch-enroll-date-selected {
    background-color: #00a6eb;
    padding: 1rem 1.3rem;
    border-radius: 5px;
}

.mch-enroll-date-selected h3 {
    color: white;
}

.mch-enroll-date-selected p {
    font-size: .9rem;
    color: #fff;
}
.mch-enroll-date-not-selected p {
    font-size: .9rem;
    color: #1b7ed8;
}

.mch-enroll-date-not-selected {
    color: #1b7ed8;
    padding: 1rem 1.3rem;
    background: #fff 0 0 no-repeat padding-box;
    box-shadow: 0 0 5px rgba(37, 37, 37, .1607843137254902);
    border-radius: 5px;
    border-bottom: 5px solid #00a6eb;
}

.mch-dream-card {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.mch-dream-name {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.mch-dream-name img {
    width: 20%;
}

.mch-dream-info {
    text-align: justify;
    font-size: 0.75rem;
    letter-spacing: 0px;
    line-height: 1.8em;
    width: 300px;
    height: 200px;
    overflow: scroll;
    margin: auto;
    width: 85%;
}

.mch-dream-info p::-webkit-scrollbar-thumb {
    background-color: #00a6eb !important;
}

.mch-dream-person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2em;
    position: relative;
}

.mch-dream-person>img {
    width: 50px;
}

.mch-dream-person-img>img {
    width: 100%;
}

.slides {

    .slick-prev:before,
    .slick-next:before {
        color: #00a6eb;
        border: #00a6eb;
        font-size: 40px;
    }

    .slick-next {
        top: 40%;
    }

    .slick-prev {
        top: 40%
    }
}

.courseEnd {
    max-width: 1147px;
    margin: 3rem auto;
    border-top: 0.5px solid #c2c2c2;
    border-bottom: 0.5px solid #c2c2c2;
}

.courseEndDivImg {
    width: 20%;
}

.courseEndDivInfo {
    display: flex;
    align-items: center;
    height: 80%;
    width: 80%;
    margin: auto;
    border-radius: 5px;
}

.courseEndDivInfo-pink {
    border-bottom: 4px solid #df3897;
    border-right: 4px solid #df3897;
}

.courseEndDivInfo-blue {
    border-bottom: 4px solid #0398d3;
    border-right: 4px solid #0398d3;
}

.courseEndDivInfo-purple {
    border-bottom: 4px solid #7914a3;
    border-right: 4px solid #7914a3;
}

.courseEndDivInfo-yellow {
    border-bottom: 4px solid #eb9a00;
    border-right: 4px solid #eb9a00;
}

.courseEndDiv {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
}

.courseEndDivImg img {
    width: 100%;
    height: 100%;
}

.courseEndDivInfo img {
    height: 80%;
}

.courseEndInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 80%;
}

@media screen and (min-width:1025px) and (max-width:1400px) {
    .mch-dream-info {
        width: 85%;
        padding: 0%;
    }

    .mch-dream-person-img img {
        width: 100%;
    }

    .mch-mentor-gallary {
        width: 100%;
        max-width: none;
    }

    .mch-enroll-details {
        width: 100%;
    }

    .slick-slider {
        width: 80% !important;
    }

    .mch-curriculum {
        width: 80%;
    }

    .mch-coding-context-img {
        width: 80%;
    }

    .mch-mentor-card {
        margin: auto;
    }
}

@media screen and (min-width:600px) and (max-width:1024px) {
    .mch-home {
        width: 90%;
        margin-top: 10vh;
    }

    .mch-home-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mch-home img {
        width: 100%;
        height: 60%;
    }

    .mch-info {
        width: 90%;
    }

    .mch-mentor-gallary {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        max-width: 95%;
    }

    .courseFeatureDetailsUl {
        width: 95%;
    }

    .courseFeatureBgImg {
        transform: translate(0%);
    }

    .courseFeatureDetailsUl li {
        width: 95%;
    }

    .mch-instituteInfo {
        width: 90%;
    }

    .mch-coding-context-img {
        width: 100%;
    }

    .mch-curriculum {
        width: 90%;
    }

    .mch-batch {
        padding: 2rem;
    }

    .mch-enroll-details {
        width: 100%;
        gap: 1em;
    }

    .slick-slider {
        width: 90% !important;
    }

    .mch-mentor-card {
        margin: auto;
    }
    .slick-next {
        right: -14px;
    }
}

@media screen and (max-width:599px) {
    .mch-heading{
        text-align: center;
    }
    .mch-home {
        flex-direction: column-reverse;
        width: 100%;
    }
    .mch-home div p {
        width: 80%;
        text-align: center;
    }
    .mch-home div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mch-home-img img {
        width: 100%;
    }

    .mch-info {
        width: 80%;
        grid-template-columns: 1fr;
    }

    .mch-mentor-gallary {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .mch-mentor-card {
        width: 90%;
    }

    .courseFeatureDetailsUl {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .courseFeatureDetailsUl li {
        width: 100%;
    }

    .courseDetailsEvenDiv {
        direction: ltr;
    }

    .mch-instituteInfo {
        grid-template-columns: 1fr;
        width: 100%;
        padding: 0;
    }
    .mch-instituteInfo div{
       margin-top: 1em;
    }
    .mch-curriculum {
        grid-template-columns: 1fr;
        width: 80%;
    }
    .mch-batch {
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .mch-enroll-details {
        flex-direction: column;
        width: 90%;
        margin: auto;
        align-items: normal;
    }
    .mch-enroll-div{
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .mch-enroll-details div{
        margin-top: 1em;
    }
    .mch-coding-context{
        font-size: 20px;
        width: 80%;
    }
    .courseEndDiv{
        flex-direction: column;
    }
    .courseEndInfo {
        grid-template-columns: 1fr;
    }
    .courseFeatureBgImg {
        display: none;
    }
    .mch-coding-context-img {
        width: 100%;
    }
    .slick-next {
        right: -16px;
    }
}